.profileSettings {
  display: grid;
  gap: 20px;
  padding: 30px;
  grid-template-columns: 20% 1fr;
}
.profileSettings .buttonGroup {
  display: flex;
  gap: 30px;
}

.card_body {
  display: grid;
}

.uploadFile_label {
  text-align: center;
}

.addResourceLink {
  display: flex;
  justify-self: center;
}
.addResourceLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.uploadFile_input {
  opacity: 0;
  position: absolute;
}

.profile_avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  justify-self: center;
}

.buttonGroup {
  margin-top: 20px;
  justify-self: center;
}