$color: rgb(31, 27, 77);
$background: #eeeef5;
$white: #ffffff;
$black: #000000;
$gray-500: #adb5bd;
$ct-light: #f2f2f7;
$border: #e6e7ea;
$muted: #9f9f9f;
$info-bg-color: rgb(69, 170, 242);
$box-shadow: 0 12px 11px -3px rgb(113 126 195 / 25%);
$primary-bg-color: #4eb072;
$primary-bg-color2: rgba($primary-bg-color, 0.2);
$primary-bg-hover: #2d894f;
$secondary-bg-color: #43adb6;
$secondary-bg-hover: #0999b9;
$error: #f50057;
$error-hover: #ab003c;

